<h1 style="position:relative ;left:300px">Lista de servicios</h1>


</div><!-- /panel -->
        <div class="panel panel-default table-responsive">
          <div class="panel-heading">
            Data Table
            <span class="label label-info pull-right">790 Items</span>
          </div>
          <div class="padding-md clearfix">
            <table class="table table-striped" id="dataTable">
              <thead>
                <tr>
                  <th>No</th>
                  <th>Product</th>
                  <th>Price</th>
                  <th>Quantity</th>
                  <th>Sales</th>
                  <th>Date</th>
                  <th>Status</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>#1001</td>
                  <td>Leather Bag</td>
                  <td>$89</td>
                  <td>30</td>
                  <td>187</td>
                  <td>Oct 08,2013</td>
                  <td><span class="label label-success">In Stock</span></td>
                </tr>
                <tr>
                  <td>#1002</td>
                  <td>Brown Sunglasses <span class="label label-success m-left-xs">Best Seller</span> </td>
                  <td>$120</td>
                  <td>0</td>
                  <td>861</td>
                  <td>Oct 07,2013</td>
                  <td><span class="label label-danger">Sold Out</span></td>
                </tr>
                <tr>
                  <td>#1003</td>
                  <td>Casual Boots</td>
                  <td>$99</td>
                  <td>100</td>
                  <td>12</td>
                  <td>Oct 06,2013</td>
                  <td><span class="label label-success">In Stock</span></td>
                </tr>
              </tbody>
            </table>
        </div><!-- /panel -->
<script>
    $(function  ()  {
      $('#dataTable').dataTable( {
        "bJQueryUI": true,
        "sPaginationType": "full_numbers",
        "bDestroy": true
      });
    });
  </script>