<h2> Subir archivo </h2>
<%= form_tag({:controller => "archivos", :action => "subir_archivos"}, :method => "post", :multipart => true) do %>

<div class="panel panel-default">
    <div class="panel-body" >
    	<table cellspacing="10" cellpadding="10" border="0">
    		<tr>
  				<td>Adjuntar Archivo</td>
  				<td><%= file_field_tag "archivo", :required => "required" %></td>
  				<td><%= submit_tag "Subir archivo" %></td>
			</tr>
			<tr>
				<td> <a href="/servicios/<%= @tarea.servicio_id%>" class="btn btn-warning"> <i class="fa fa-chevron-left"></i> Volver </a> </td>
			</tr>
      	</table>
   
	</div>
</div>
<% end %>
<% if @formato_erroneo %>
  <div>
     <p> El formato ingresado es incorrecto. Usted sólo puede subir archivos del tipo .pdf, .txt, .docx, .xlsx, .jpg, .png </p>
  </div>
<% end %>
