<%= form_for(@empresa, html: {class:"form-horizontal form-border no-margin"}) do |f| %>

<% if @empresa.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@empresa.errors.count, "error") %> No se puede almacenar:</h2>

      <ul>
      <% @empresa.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
<% end %>

<% if current_usuario.tipo_de_usuario == 1 %>
<div class="panel panel-default">
              <form class="form-horizontal form-border no-margin" id="type-constraint" data-validate="parsley" novalidate="">
                <div class="panel-body">
                  <div class="form-group">
                    <label for="empresa_nombre_fantasia" class="control-label col-lg-3">Nombre de fantasía</label>
                    <div class="col-lg-9">
                      <input type="text" class="form-control input-sm" data-required="true" placeholder="Nombre de fantasía" id="empresa_nombre_fantasia" name="empresa[nombre_fantasia]" required>
                      <div class="seperator"></div>
                    </div><!-- /.col -->
                  </div><!-- /form-group -->
                  <div class="form-group">
                    <label class="control-label col-lg-3">Nombre comercial</label>
                    <div class="col-lg-9">
                      <input type="text" class="form-control input-sm" data-required="true" placeholder="Nombre comercial" id="empresa_nombre_comercial" name="empresa[nombre_comercial]" required>
                      <div class="seperator"></div>
                    </div><!-- /.col -->
                  </div><!-- /form-group -->
                  <div class="form-group">
                    <label class="control-label col-lg-3">Email</label>
                    <div class="col-lg-9">
                      <input type="text" class="form-control input-sm" data-type="email" placeholder="Email" id="empresa_email" name="empresa[email]">
                      <div class="seperator"></div>
                    </div><!-- /.col -->
                  </div><!-- /form-group -->
                  <div class="form-group">
                    <label class="control-label col-lg-3">Página web</label>
                    <div class="col-lg-9">
                      <input type="text" class="form-control input-sm" data-type="url" placeholder="Url" id="empresa_web" name="empresa[web]">
                      <div class="seperator"></div>
                    </div><!-- /.col -->
                  </div><!-- /form-group -->
                <div class="form-group">
                    <label class="control-label col-lg-3">Teléfono</label>
                    <div class="col-lg-9">
                      <input type="text" class="form-control input-sm" data-type="digits" placeholder="Teléfono" id="empresa_telefono" name="empresa[telefono]" maxlength="10">
                      <div class="seperator"></div>
                    </div><!-- /.col -->
                  </div><!-- /form-group -->
                  <div class="form-group">
                    <label class="control-label col-lg-3">Dirección</label>
                    <div class="col-lg-9">
                    <input type="text" class="form-control input-sm" placeholder="Dirección" id="empresa_direccion" name="empresa[direccion]" required>
                      <div class="seperator"></div>
                    </div><!-- /.col -->
                  </div><!-- /form-group -->
                  <div class="form-group">
                    <label class="control-label col-lg-3">Región</label>
                    <div class="col-lg-9">
                    <select type="text" class="form-control chzn-select" id="empresa_region" name="empresa[region]" required>
                      <option> </option>
                      <option>XV - Arica y Parinacota</option>
                      <option>I - Tarapacá</option>
                      <option>II - Antofagasta</option>
                      <option>III - Atacama</option>
                      <option>IV - Coquimbo</option>
                      <option>V - Valparaíso</option>
                      <option>VI - O'Higgins</option>
                      <option>VII - Maule</option>
                      <option>VIII - BioBió</option>
                      <option>IX - Araucanía</option>
                      <option>XIV - Los Ríos</option>
                      <option>X - Los Lagos</option>
                      <option>XI - Aysén</option>
                      <option>XII - Magallanes</option>
                      <option selected>RM - Metropolitana</option>
                    </select>
                      <div class="seperator"></div>
                    </div><!-- /.col -->
                  </div><!-- /form-group -->
                  <div class="form-group">
                    <label class="control-label col-lg-3">Representante</label>
                    <div class="col-lg-9">
                      <input type="text" class="form-control input-sm" data-type="representante" placeholder="Representante" id="empresa_representante" name="empresa[representante]">
                      <div class="seperator"></div>
                    </div><!-- /.col -->
                  </div><!-- /form-group -->
                  <div class="form-group">
                    <label class="control-label col-lg-3">Giro</label>
                    <div class="col-lg-9">
                    <select type="text" class="form-control chzn-select" id="empresa_giro" name="empresa[giro]" required>
                      <option> </option>
                      <option>Agricultura, ganadería, caza y silvicultura</option>
                      <option>Pesca</option>
                      <option>Explotación de minas y canteras</option>
                      <option>Industrias manufactureras no metálicas</option>
                      <option>Industrias manufactureras metálicas</option>
                      <option>Suministro de electricidad, gas y agua</option>
                      <option>Construcción</option>
                      <option>Comercio al por mayor y menor; rep. Veh.automotores/enseres domésticos</option>
                      <option>Hoteles y restaurantes</option>
                      <option>Transporte, almacenamiento y comunicaciones</option>
                      <option>Intermediación financiera</option>
                      <option>Actividades inmobiliarias, empresariales y de alquiler</option>
                      <option>Adm. Pública y defensa; planes de seg. Social afiliación obligatoria</option>
                      <option>Enseñanza</option>
                      <option>Servicios sociales y de salud</option>
                      <option selected>Otras actividades de servicios comunitarias, sociales y personales</option>
                    </select>
                      <div class="seperator"></div>
                    </div><!-- /.col -->
                  </div><!-- /form-group -->
                </div><!-- /panel-heading -->
              </form>
            </div>
            <div align="left">
              <a href="/empresas" class="btn btn-warning"> <i class="fa fa-chevron-left"></i>Volver</a>
              <button name="commit" class="btn btn-success" type="submit">Aceptar</button>
            </div> 

  <% end %>          
<% end %>
<script type="text/javascript">
    $(function  ()  {
        $(".chzn-select").chosen();
    });
</script>

